// Colors
$yellow: #f9d423;
$gray: #7f8c8d;
$red: #f85f40;
$green: #1abc9c;
$blue: #0faff1;
$orange: #f1540f;
$scorpion: #5f5f5f;
$white: #fff;
$friut-salad: #4caf50;
$black: #000;
$dark-grey: #2a2a3a;
$seashell: #f1f1f1;
$silver: #ccc;


// Specific colors
$footer-bg-color: $dark-grey;
$main-bg-color: $black;


// Sizes
$nav-height: 60px;
$view-port: 1200px;
$auth-height: 70px;
