mixin entryForm(entry = {})

  form(action=`/add/${entry._id || ''}` method="POST" class="card")
    label(for='entryTitle') Title
    input(type='text' name='entryTitle' value=entry.entryTitle)
    label(for='entryText') Entry
    textarea(name='entryText')= entry.entryText
    label(for='userScore') Score
    - const possibleScores = ['1', '2', '3', '4', '5']
    select(for='userScore' id="userScore" name="article_score")
      each choice in possibleScores
          option(value=choice id=choice) #{choice}        
    label(for='tags') Tags
    - const possibleTags = ['funny', 'kitten', 'hobby', 'food', 'non-food']
    - const tags = entry.tags || []
      ul.tags
        each choice in possibleTags
          input(type="checkbox" id=choice value=choice name="tags" checked=(
            tags.includes(choice)))
          label(for=choice) #{choice}
    label(for='comment') Comment
    textarea(name='comment' placeholder=`add comment..`)= entry.comment
    input(type='submit' value='Save')