mixin entryCard(entry = {})
  .entry
    .entry__hero
      .entry__actions
        .entry__action.entry__action--view
          h2 
            a(href=`/blog/${entry.slug}`) #{entry.entryTitle}
        .entry__action.entry__action--edit
          a(href=`/blog/${entry._id}/edit`)
            != h.icon('pencil')
    .entry__contents
      p= entry.entryText.split(' ').slice(0, 25).join(' ')    
      img(src=`${entry.photo || './uploads/entry.png'}`)