@import '../partials/params';
@import '../partials/mixins';

.entry {
  grid-column: 2/3;
  grid-row: 2/3;
  padding: 15px;

  &__hero {
    position: relative;
    padding: 0 10px 0 10px;
    text-align: right;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
    }
  }

  &__actions {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    color: $black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.2);
  }

  &__action {
    svg {
      width: 25px;
      fill: $black;
    }

    &--edit {
      a {
        border-bottom: 0;
      }
    }

    &--view {
      text-align: left;
    }
  }

  p {
    font-size: 15px;
    line-height: 36px;
    margin: 15px 0;
  }

  img {
    position: relatives;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
  }
}
