@import '../partials/params';
@import '../partials/mixins';

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid $gray;

  &.input {
    &--error {
      border-color: $red;
    }
  }
}

label {
  display: block;
  padding: 10px 0;
}

.form {
  padding: 2rem;
  background: $white;

  & + .form {
    margin-top: 4rem;
  }

  // I know this isn't bem but meh
  h2 {
    font-size: 2rem;
    margin: 0;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid $gray;
  }
}
