@import '../partials/params';
@import '../partials/mixins';

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $scorpion;
  grid-column: 1/3;
  grid-row: 3/4;
}
