@import '../partials/params';
@import '../partials/mixins';

header {
  grid-column: 1/3;
  grid-row: 1/2;
  background-color: $scorpion;

  a {
    font-size: 17px;
    line-height: 44px;
    display: inline-block;
    padding: 0 15px;
    text-decoration: none;
    color: $white;

    .current {
      background-color: $friut-salad;
    }

    :hover {
      background-color: $black;
    }
  }
}
