@import '../partials/params';
@import '../partials/mixins';
@import url('https://fonts.googleapis.com/css?family=Roboto');

// @import '../partials/reset';

// Divs
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetics, sans-serif;
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 44px 1fr 44px;
}

html,
body {
  height: 100%;
}

html,
body,
div,
nav {
  @include clear;

  font-family: Roboto, sans-serif;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6, {
  @include clear;

  margin: 15px 0;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

a {
  text-decoration: none;
}

p {
  @include clear;
}


// Base classes
.view-port {
  max-width: $view-port;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: $main-bg-color;
}

.first-screen {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
}
