@import '../partials/params';
@import '../partials/mixins';

nav {
  padding-top: 20px;
  background-color: $seashell;
  grid-column: 1/2;
  grid-row: 2/3;

  h3,
  a {
    padding: 5px 12px;
  }

  a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: $black;

    &:hover {
      color: $white;
      background-color: $scorpion;
    }
  }
}
