doctype html
html
  block metadata-config
    -
      var myTitle = 'Learn by making a Node.js blog';
      var myDescription = 'This is a personal blog by zergh';
      var landindPage = 'Home';
      var activeLink = '';    
  head
    title=myTitle
    meta(name=description, content=myDescription)
    link(rel="stylesheet", href="http://localhost:4200/bundle.min.css")
  body
    block header
      header
        a.current(href="/") Home
        a(href="/login") Login
        a(href="/register") Register
        a(href="/add") New Post
        block messages
          if locals.flashes
            .inner
              .flash-messages
                - const categories = Object.keys(locals.flashes)
                each category in categories
                  each message in flashes[category]
                    .flash(class=`flash--${category}`)
                      p.flash__text!= message
                      button.flash__remove(onClick="this.parentElement.remove()") &times;
    block nav
      nav
        h3 Latest and Popular
        a(href="/top10") Top10
        a(href="/feed") BlogFeed
    block contents
      contents
    block footer
      footer &copy; 2018 zHive